<section id="about" class="content-row row p-xl-3 p-1">
	<h1 class="content-title section-title underline p-2">
        {{ general.sectionTitles.about|length > 0 ? general.sectionTitles.about : 'About' }}
    </h1>
	<p class="card-text">
		{{ about }}
	</p>
</section>
