<!doctype html>
<html lang="en">

	<head>
		{% include "components/meta.html.twig" %}

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/colors.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>

	<body>
		<div class="flex-container">
			{% include "components/side.html.twig" %}

			<div class="content col-xxl-9 col-xl-8 col-12 container-fluid p-xl-3 p-0">
				{% for section in general.sectionOrder %}
					{% include "sections/" ~ section ~ ".html.twig" %}
				{% endfor %}
			</div>
		</div>

		<script src="js/bootstrap.bundle.min.js"></script>
	</body>

</html>
